@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Raleway:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
p,button,li,span{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding-bottom: 10px;
}

.contenedor{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;

}
header{
    background-color: #fff;
}

header nav{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.menu{
    display: flex;
}



.logo img{
  width: 80%;
}
.menu li{
    list-style:  none;
    margin-right: 20px;
    font-size: 14px;
}

.menu li:hover{
    color: #00cf95;
    text-decoration:  #00cf95;
    cursor: url("./images/cursor.png"),auto;
}

.portada{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}

.presentacion{
    width: 355px;
    padding: 20px;
}

.presentacion h1{font-size: 35px; color: #00cf95}
.presentacion h2{ font-size: 27px;}
.presentacion h3{font-size: 12px;}

.presentacion p{
    width: 90%;
    font-size: 12px;
    padding: 5px 20px ;
    margin-top: 10px;
    line-height: 20px;
    border-left:  #00cf95 solid 3px;
}

.presentacion div{
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.presentacion div button{
    padding: 15px 30px;
    background-color: #6d0ad3;
    color: #fff;
    border: none;
    margin-right: auto;
}

.presentacion div img{
margin-right: 15px;
}

.perfil{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.perfil .circle{
    background-color: #d1ffa2;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    align-items: center;
}
.perfil .circle img{
    width: 90%;
}
.perfil .boton-redes {
   width: 20%;
}
.perfil .boton-redes img{
    width: 100%;
    margin-top: 20px;
}


.down{
    width: 10%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.down:hover{
    filter:brightness(0%);
    cursor: url("./images/cursor.png"),auto;
}

.down img,.down h3{
    width: 60px;
    text-align: center;
    margin: 5px auto;
    color: #00cf95;
    font-weight: 500;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #00cf95;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

  .titulo-section{
    margin: 20px 0;
    width: 100%;
    color: #0098ef;
  }

  .portafolio{
    padding: 20px;
    justify-content: space-around;
  }

  .portafolio div{
    margin-bottom: 10px;
    position: relative;
  }

  .portafolio div img{
    z-index: 1;
  }

  .portafolio div .detalle-proyecto{
    display: none;
    flex-wrap: wrap;
    position: absolute;
    color: #fff;
    background: rgba(109,10,211,0.8);
    width: 70%;
    padding: 2% 5%;
    margin: 10% 10%;
    border-radius: 5%;
    z-index: 2;
  }

  .portafolio div .detalle-proyecto h3{
    width: 100%;
    font-weight: 500;
  }

  .portafolio div .detalle-proyecto p{
    margin:5% 5% 18% 0;
    font-size: 15px;
  }
  .portafolio div .detalle-proyecto span{
    color: #580aaf;
    font-size: 11px;
    border-radius: 12px;
    font-weight: 600;
    padding: 5px 9px;
    background-color: #d1ffa2;
    margin-right: 3%;
    margin-bottom: 3%;
  }

  .portafolio div:hover > img{
    filter: brightness(50%);
    cursor: url("./images/cursor2.png"),auto;
  }

  .portafolio div:hover >.detalle-proyecto{
   display: flex;
   cursor: url("./images/cursor2.png"),auto;
  }
 
  .services{
    padding: 20px;
    width: 100%;
    justify-content: center;
  }

    .services .ser-articulo{
        background: #00cf95;
        width: 330px;
        margin: 2%;
        border: #d1ffa2 solid 2px; 
        overflow: hidden;
    }
    .services .ser-articulo .service-img{
        width: 60px;
        height: 60px;
        margin: 5% 5% 15% 5%;
    }

    .services .service-img img{
      width: auto;
      height: auto;
    }

    .services .ser-articulo .service-item{
      display: flex;
      align-items: center;
      justify-self: end;
        margin-left: auto;
        margin-right: -10px;
        margin-bottom: 6%;
        background-color: #d1ffa2;
        text-align: end;
        overflow: hidden;
        width: 50%;
        height: 20%;
    border-radius: 10px;
    
    border: #d1ffa2 solid 2px;
    }
    .services .ser-articulo .service-item  p{
        color: #580aaf;
        margin: 0;
        padding:10% 15%;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }

    .services .ser-articulo:hover > .service-item p{
      background: #580aaf;
      color: #fff;
      cursor: url(./images/cursor2.png),auto;
    }

    .services .ser-articulo:hover > .service-item{
      background: #580aaf;
      border: #580aaf solid 2px;
      cursor: url(./images/cursor2.png),auto;
    }

    .services .ser-articulo:hover{
    border: #580aaf solid 2px;  
    cursor: url(./images/cursor2.png),auto;   
    }

  
    .blog{
      padding: 20px;
      width: 100%;
      align-items: flex-start;
      justify-content: space-evenly;
    }

    .blog .aside h4{
      border-left: #C4C4C4 solid 4px;
      padding-left: 10px;
    }

    .blog .aside p{
      line-height: 24px;
      font-size: 14px;
      margin-top: 5%;
    }

    .blog .nuevo-rey{
      width: 30%;
    }


    .flex-column{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 30%;
      justify-content: space-evenly;
    }

    .blog .nuevo-rey img{
      margin-bottom: 5%;
    }
    .blog .nuevo-rey .aside h4{
      font-size: 25px;
      border-left: #C4C4C4 solid 5px;
    }

    .blog .nuevo-rey .aside p{
      
      line-height: 30px;
    }


    .blog .articulo{
      display: flex;
      font-size: 15px;
      font-family: 'Raleway', sans-serif;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-top: 20px;
    }
    .blog .articulo a{
      font-weight: 700;
    }

    .blog .articulo:hover > img{
      border-color: #580aaf;
      border-radius: 10px;
      cursor: url("./images/cursor2.png"),auto;
    }
    .blog .articulo:hover h4{
      border-color: #580aaf ;
      cursor: url("./images/cursor2.png"),auto;
    }

    .blog .articulo img{
      width: 100%;
      border: #D1FFA2 solid 3px;
    }

    .blog .flex-column .engine, .blog .flex-column .css3{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .blog .flex-column .css3 .aside,.blog .flex-column .engine .aside {
      width: 45%;
      font-size: 12px;
      line-height: 17px;
    }

    .blog .flex-column .css3 img,.blog .flex-column .engine img{
      width: 50%;
    }
    .blog .flex-column .css3 .aside p,.blog .flex-column .engine .aside p {
      font-size: 12px;
    }

    .blog .flex-column .animation p{

      font-size: 12px;
      margin-top: 3%;
    }
    

    .blog .flex-column .suscribete form{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .blog .flex-column .suscribete form .deco{
      padding: 15px 15px;
      border: #C0C0C0 solid 1px;
    }

    .blog .flex-column .suscribete form input{
      border-radius: 10px 0 0 10px ;
    }
    .blog .flex-column .suscribete form button{
      border-radius: 0  10px  10px 0;
      background-color: #580aaf;
      color: #fff;
    }


    .contacto .contenedor{
      max-width: 700px;
  }

    .contacto .contacto-form{
      justify-content: center;
      color: #262626;
    }

    .contacto .contacto-form input{
      min-width: 270px;
      padding: 15px 15px;
      margin: 1% 1%;
      border-radius: 10px;
      border: #C0C0C0 solid 1px ;
    }

    .contacto .contacto-form input:hover,.contacto .contacto-form select:hover,.contacto .contacto-form textarea:hover{
      border-color: #00CF95;
      cursor: url("./images/cursor2.png"),auto;
    }

    .contacto .contacto-form input:focus,.contacto .contacto-form select:focus,.contacto .contacto-form textarea:focus{
      border-color: #580aaf;
      
      outline: 0 none;
    }

    .contacto .contacto-form select{
      min-width: 304px;
      padding: 15px 15px;
      border-radius: 10px;
      margin: 1% 1%;
      border: #C0C0C0 solid 1px ;
    }
    .contacto .contacto-form select, option{
            
      color : #736f6f;
    }

    .contacto .contacto-form textarea{
      border-radius: 10px;
      margin-top: 1%;
      width: 86%;
      padding: 2%;
      border: #C0C0C0 solid 1px ;
    }
    .contacto-form button{
      margin: 5% auto;
      background-color: #6D0AD3;
      border: none;
      border-radius: 10px;
      color: #fff;
      padding: 20px 60px;
    }

    footer{
      border-top: #00CF95 solid 2px;
      justify-content: space-evenly;
      padding: 3% 0;
      width: 100%;
    }


    footer div{
      width: 25%;
    }
    footer .contenedor{
      width: 40%;
    }
    footer .logo-bottom img{
      width: 50px;
    }

    footer .menu-bottom{
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin: auto;
      text-align: center;
      width: auto;
    }

    footer .menu-bottom h2{
      font-size: 30px;
      margin-bottom: 5%;
      color: #00CF95;
      width: 290px;
    }

    footer .menu-bottom p{
      margin-top: 5%;
    }

    footer .redes-bottom{
      width: 15%;
      justify-content: center;
      align-items: flex-start;
    }

    footer .logo-bottom{
      width: 15%;
      justify-content: center;
      align-items: flex-start;
    }

    @media (max-width: 924px) {
      .blog .nuevo-rey {
        width: 86%;
        margin-bottom: 20px;
      }
      .blog .nuevo-rey .aside {
        width: 100%;
        margin: auto;
      }
      .blog .col2{
        width: 45% ;
        flex-direction: row;
      }
      .blog .col2 .flex-column {
        width: 100%;
      }

      .blog .col3{
        width: 45%;
      }

      header .portada .perfil {
        justify-content: center;
        order: -1;
        width: 90%;
       margin: auto;
      }
      header .portada .presentacion{
        width: 80%;
        margin: auto;
      }

    }
    @media (max-width:635px) {

      .titulo-section{
        text-align: center;
      }

      .contacto .contacto-form input{
        width: 86%;
      }
      .contacto .contacto-form select {
        width: 91%;
      }

      footer .logo-bottom{
        display: none;
      }

      footer .redes-bottom{
        display: none;
      }

      header nav .logo{
        display: none;
      }

      header nav {
        justify-content: center;
        flex-wrap: wrap;
        margin: auto 0;
      }

      header nav .menu li{
        margin: 0 1%s;
      }
      
     

    }
